.status-bar {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 6px;
}

.time {
    font-weight: normal;
    font-size: 12px;
    align-self: center;
}

.status-bar img {
    width: 15px;
    margin: 0 2px;
    align-self: center;
}

.lock {
    align-self: center;
    align-content: center;
}

.battery {
    align-self: center;
}
.lock img {
    width: 8px;
}

.status-bar .status {
    display: flex;
}
.status-bar img.battery {
    width: 20px;
}